# First Attempt with Hardcoded credentials

In [ ]:
import requests
import urllib3

urllib3.disable_warnings()
from requests.auth import HTTPBasicAuth

user_name = "GPNET\ADMadityt"
user_password = "YourPasswordHere"
security_auth = HTTPBasicAuth(user_name, user_password)

response = requests.get("https://or190srpivision.gpnet.gapac.com/PIWebAPI/system/userinfo", auth=security_auth, verify=False)
print(response.json())

## Creating a credentials json file

In [ ]:
import json

cred = {
	"username" : "GPNET\ADMadityt",
	"password" : "YourPasswordhere"
}

with open("credentials.json", "w") as creden:
    json.dump(cred, creden)

# Second Attempt using credentials file

In [ ]:
import requests
import urllib3
import json

urllib3.disable_warnings()
from requests.auth import HTTPBasicAuth

f = open("credentials.json")
data= json.load(f)

user_name = data['username']
user_password = data['password']
security_auth = HTTPBasicAuth(user_name, user_password)

response = requests.get("https://or190srpivision.gpnet.gapac.com/PIWebAPI/streamsets/F1EmMzF0DoIZN0uP2S8n6j7l4wkwH8t-vC6hGJvriKYK4HewT1IxOTBTUlBJQUZcVE9MLVBST0NFU1NDT05URVhUXFRPTFxUT0wtRU5FUkdZXFRPTC1VVElMSVRJRVNcVE9MLVVUSUxJVElFUy1BSVI/recorded?startTime=*-5h&endtime=*&interval=1h&selectedFields=Items.Items.Timestamp;Items.Items.Value;", auth=security_auth, verify=False)
print(response.json())
data = response.json()

In [7]:
pi_data = data['Items'][0]['Items']

In [8]:
pi_data_time = []
for i in pi_data:
    pi_data_time.append(i['Timestamp'])

In [9]:
pi_data_value = []
for i in pi_data:
    pi_data_value.append(i['Value'])

In [15]:
import pandas as pd 

df = pd.DataFrame(list(zip(pi_data_time, pi_data_value)), columns=['Timestamp','Value'])
df.head()

              Timestamp  Value
0  2021-06-21T11:10:30Z   1971
1  2021-06-21T11:10:32Z   1925
2  2021-06-21T11:10:46Z   2082
3  2021-06-21T11:11:02Z   1919
4  2021-06-21T11:11:04Z   2015

In [24]:
df[(df['Timestamp'] > '2021-06-21T11:10:00Z') & (df['Timestamp'] < '2021-06-21T11:13:00Z')]

               Timestamp  Value
0   2021-06-21T11:10:30Z   1971
1   2021-06-21T11:10:32Z   1925
2   2021-06-21T11:10:46Z   2082
3   2021-06-21T11:11:02Z   1919
4   2021-06-21T11:11:04Z   2015
5   2021-06-21T11:11:26Z   2042
6   2021-06-21T11:11:28Z   1910
7   2021-06-21T11:11:50Z   1946
8   2021-06-21T11:11:52Z   1956
9   2021-06-21T11:12:08Z   1922
10  2021-06-21T11:12:10Z   1890
11  2021-06-21T11:12:26Z   1895
12  2021-06-21T11:12:28Z   1948
13  2021-06-21T11:12:44Z   1967
14  2021-06-21T11:12:46Z   2031

In [28]:
df.dtypes['Timestamp']

dtype('O')